<app-navbar></app-navbar>

<div class="ui container">
<div class="ui grid">
  <div class="four wide column">
      <app-nav-member></app-nav-member>
  </div>

  <div class="twelve wide stretched column">
    <div class="ui segment">
        <h1>โปรไฟล์ของฉัน</h1>

        <hr>
        <b>ชื่อ</b> {{user.name}} <b>นามสกุล</b> {{user.lastName}} <br>
        <b>อีเมล์</b> {{user.email}} <br>
        <b>เบอร์โทร</b> {{user.tel}} <br>
        <b>ที่อยู่</b> {{user.address}} <br>
        <hr>

    </div>
    
  </div>
</div>
</div>

