input[type=text] {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    textarea{
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    button{
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    color: #000000;
    font-size: 14px;
    box-sizing: border-box;
    }
    
    
    .table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #F1EFEF;
    /* width: 100%; */
    }
    .table  td, th {
    border-left: 1px solid #CFCACA;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem 1rem;
    }
    .table  thead {
    background-color: #02348A;
    color: #F3EDED;
    text-align: left;
    vertical-align: bottom;
    }
    
    .red{
        color: red;
    }

    