<div class="ui container">
  <div class="ui grid">
        <div class="three wide column">
            <app-nav-admin></app-nav-admin>
        </div> 
    

    <div class="thirteen wide stretched column">

        <h1>จัดการข้อมูลโปรโมชัน</h1>
        <div class="two wide column">  <button class="ui green icon button right floated"
          [routerLink]="'/add-promotion'" suiPopup popupHeader="เพิ่มข้อมูลโปรโมชัน" popupText="คลิกเพื่อเพิ่มข้อมูลโปรโมชัน" weight="20%">
        <i class="add icon"></i></button></div>
      
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:13%" class="ui center aligned">ชื่อ</th>
              <th style="width:13%" class="ui center aligned">รายละเอียด</th>
              <th style="width:13%" class="ui center aligned">แก้ไข/ลบ</th>
            </tr>
          </thead>
          <tbody>
  
          </tbody>
          <tr *ngFor="let a of articleList| async; let i = index">
            <td>{{a.atcTitle}}</td>
            <td style="width:30%"><div [innerHTML]="a.article"></div></td>
            <td class="ui center aligned single line">
                <button type="button" class="ui green icon button" (click)="editCourse(i)">
                    <i class="edit outline icon"></i>
                  </button>
                  <button type="button" class="ui red icon button" (click)="delCourse(i)">
                    <i class="trash alternate outline icon"></i>
                  </button>
            </td>
          </tr>
        </table>
        
        
        </div>
    
  </div>
      
</div>
