
  <div class="ui vertical fluid tabular menu">
      <a class="item" [routerLink]="'/ad-report'" routerLinkActive="active">
        รายงาน
      </a>
      <a class="item" [routerLink]="'/ad-manage-member'" routerLinkActive="active">
        จัดการข้อมูลสมาชิก
      </a>
      <a class="item" [routerLink]="'/ad-manage-courses'" routerLinkActive="active">
        จัดการข้อมูลคอร์ส
      </a>
      <a class="item" [routerLink]="'/ad-manage-promotion'" routerLinkActive="active">
        จัดการข้อมูลโปรโมชัน
      </a>
      <a class="item" [routerLink]="'/ad-manage-institute'" routerLinkActive="active">
        จัดการข้อมูลสถาบันเสริมความงาม
      </a>
      <a class="item" [routerLink]="'/ad-manage-confirm'" routerLinkActive="active">
        ยืนยันการจองคอร์ส
      </a>
    </div>
  
  